# Sys files
**/.DS_Store
.env
.env.main
.env.sep

# Scarb and Starknet Foundry
**/target
**/.snfoundry_cache/

# Starkli
**/account.json
**/keystore.json

# All Contributors CLI
/package.json
/yarn.lock
node_modules/
pnpm-lock.yaml

# Redis
**/dump.rdb

# Development
**/TODO

# Frontend
build/
node_modules/

# Backend
/backend/backend
/backend/consumer

# Terraform
.terraform
terraform.tfstate*
