.NFTs__main {
  position: relative;
  width: min(100%, 40rem);
  margin: 0 auto;

  transition: all 0.5s;
}

.NFTs__container {
  height: 55vh;
  display: grid;
  grid-template-columns: minmax(25rem, 1fr);
  grid-template-rows: min-content;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: scroll;
}

.NFTs__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  width: calc(100% - 1rem);
}

.NFTs__heading {
  font-size: 1.6rem;
  text-align: center;
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
  text-decoration: underline;
}

.NFTs__button {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.NFTs__button:hover {
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.NFTs__button:active {
  transform: scale(1) translateY(2px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.NFTs__button--selected {
  background-color: rgba(30, 30, 70, 0.15);
  transform: scale(1.02);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(30, 30, 70, 0.3);
  }
  70% {
    box-shadow: 0 0 0 0.7rem rgba(30, 30, 70, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(30, 30, 70, 0);
  }
}

.NFTs__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
}

.NFTs__all__container {
  margin-top: 0.5rem;
  height: 55vh;
  width: 100%;
  overflow: scroll;
}

.NFTs__all__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: min-content;
}

.NFTs__all__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);

  height: 13rem;
}

.NFTs__filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.NFTs__filter {
  margin: 0 0.5rem;
}
