.Account__subheader {
  padding: 0.5rem;
}

.Account__item {
  padding: 0 0.5rem 0 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.Account__special {
  padding: 0 0.5rem 0 1rem;
  margin: 0.5rem 0;
}

.Account__login {
  margin: 1rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Account__address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Account__username {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Account__username__form {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.Account__username__input {
  margin-right: 0.5rem;
  height: 2.4rem;
  width: 100%;
  flex: 1;
}

.Rank__icon {
  color: red;
}