.VoteItem {
  padding: 0.5rem;
  margin: 0.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.VoteItem__vote {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}

.VoteItem__vote__mark {
  font-size: 1.8rem;
  transform: translateY(-0.3rem) translateX(0.1rem);
}

.VoteItem__color {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.VoteItem__votes {
  padding: 0 0.5rem;
  height: 3rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
