.Voting__description {
  padding: 0 0.5rem 0 1rem;
  margin: 0.7rem 0;
  line-height: 1.6rem;
  text-align: center;
}

.Voting__timer {
  margin: 1rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
}

.Voting__timer--active {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  40%,
  80%,
  100% {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 100, 200, 0.4);
    scale: 1;
  }
  20%,
  60% {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 100, 100, 0.2);
    scale: 1.02;
  }
}

.Voting__timer--active:hover {
  animation: none;
  transform: scale(1.02) translateY(-0.1rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}

.Voting__timer--active:active {
  transform: scale(1) translateY(0rem);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

.Voting__grid {
  height: 41vh;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 0rem 2rem;
  overflow-y: scroll;
}
