.QuestItem {
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
}

.QuestItem--done {
  background-color: rgba(0, 0, 0, 0.2);
}

.QuestItem__main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuestItem__info {
  padding: 0;
  margin: 0 1rem 0 0;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.QuestItem__info__title {
  font-weight: bold;
  text-decoration: underline;
  padding: 0;
  margin: 0 0 0.5rem 0;
}

.QuestItem__info__desc {
  padding: 0.2rem 0 0.2rem 0rem;
  margin: 0;
  line-height: 1.3rem;
}

.QuestItem__button {
  position: relative;
  width: 7rem;
  height: 3rem;

  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.QuestItem__button--claimable:hover {
  transform: scale(1.05) translateY(-0.1rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.QuestItem__button--claimable:active {
  transform: scale(1) translateY(0);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.QuestItem__button__progress {
  position: absolute;
  top: 0;
  left: 0;

  margin: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);

  background-color: rgba(224, 224, 224, 0.9);
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.QuestItem__button__progression {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
}

.QuestItem__button--pulsate {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  40%,
  80%,
  100% {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 100, 200, 0.4);
    scale: 1;
  }
  20%,
  60% {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 100, 100, 0.2);
    scale: 1.02;
  }
}

.QuestItem__progression--completed {
  background-color: rgba(85, 221, 51, 0.9);
}

.QuestItem__progression--incomplete {
  background-color: rgba(221, 85, 51, 0.9);
}

.QuestItem__progression--claim {
  background-color: rgba(221, 221, 85, 0.9);
}

.QuestItem__progression--claim:hover {
  background-color: rgba(221, 221, 85, 0.95);
}

.QuestItem__reward {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.QuestItem__form__seperator {
  margin: 0.5rem;
  height: 0.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.1rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
}

.QuestItem__form {
  width: 100%;
  max-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  pointer-events: fill;
}

.QuestItem__form--expanded {
  max-height: 60rem;
  transition: all 0.4s ease-in-out;
}

.QuestItem__form__item {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 1fr minmax(20rem, 3fr);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.QuestItem__form__label {
  width: 100%;
}

.QuestItem__form__input {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.QuestItem__form__submit {
  width: 50%;
  margin: 0.2rem auto;
}
