.CanvasContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4)
  );
}

.CanvasContainer__anchor {
  position: absolute;
}

.Canvas__selection {
  position: absolute;
  z-index: 4;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Canvas__selection__pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0);

  pointer-events: none;
}

.Canvas__nftSelection {
  position: absolute;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0);
  outline: 0.1px solid rgba(255, 0, 0, 0.5);
}
