.CanvasContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4)
  );
}

.CanvasContainer__anchor {
  position: absolute;
}

.Canvas__selection {
  position: absolute;
  z-index: 4;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Canvas__selection__pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0);

  pointer-events: none;
}

.Canvas__nftSelection {
  position: absolute;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0);
  outline: 0.1px solid rgba(255, 0, 0, 0.5);
}

.CanvasContainer__title {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 4;

  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: black;

  pointer-events: none;
}

.CanvasContainer__title--worlds {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Canvas__surrounding {
  transition: transform 0.2s;
  transform: scale(1);
}

.Canvas__surrounding:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.Canvas__surrounding:active {
  transform: scale(1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

/* Glowing border animation */
@keyframes glow {
  0% {
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 0 0 10px 0px rgba(255, 0, 0, 0.5);
  }
  50% {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  }
  100% {
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0);
  }
}
.Canvas__selected {
  border: 2px solid rgba(255, 0, 0, 100);
}
