.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fefdfb;
}

.App__panel {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: max(25rem, 30%);
  margin: 0.5rem;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;
}

.App__panel--tablet {
  width: max(28rem, 40%);
}

.App__panel--portrait {
  width: max(28rem, 60%);
}

.App__footer {
  position: fixed;
  z-index: 101;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.App__logo--mobile {
  position: fixed;
  z-index: 99;
  left: 1rem;
  top: 1rem;
  width: min(8rem, 15%);
  image-rendering: pixelated;
}
