.Quests {
  position: relative;
  padding: 1.2rem 0.5rem 0.5rem 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.Quests__item__title {
  padding: 0 0.5rem;
  font-size: 1.6rem;
  text-decoration: underline;
  margin: 0 auto;
}

.Quests__item__header {
  padding: 0 0.5rem;
  font-size: 1.4rem;
  text-decoration: underline;
}

.Quests__item__quest {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title reward progress";
  align-items: center;
  margin: 0.5rem 0 0.5rem 2rem;
}

.Quests__item__quest__title {
  grid-area: title;
  font-size: 1rem;
  margin-right: 1rem;
}

/*TODO: Combine reward and progress into one item */
.Quests__item__quest__reward {
  grid-area: reward;
  font-size: 1rem;
  margin-right: 1rem;
  color: #55dd33;
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.4);
}

.Quests__item__quest__reward__title {
  grid-area: reward;
  font-size: 1rem;
}

.Quests__item__quest__progress {
  grid-area: progress;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.Quests__item__quest__progress__title {
  grid-area: progress;
  font-size: 1rem;
}

/* TODO: fill up the progress bar 
.Quests__item__quest__progress__bar {
}
*/

.Quests__item__quest__progress--completed {
  background-color: rgba(85, 221, 51, 0.9);
}

.Quests__item__quest__progress--incomplete {
  background-color: rgba(221, 85, 51, 0.9);
}

.Quests__item__quest__progress--claim {
  background-color: rgba(221, 221, 85, 0.9);
  /* TODO: animate the claim button */
}

.Quests__item__quest__progress--claim:hover {
  background-color: rgba(221, 221, 85, 0.95);
  transform: scale(1.05) translateY(-0.2rem);
}

.Quests__item__quest__progress--claim:active {
  background-color: rgba(221, 221, 85, 0.85);
  transform: scale(0.95) translateY(0.2rem);
}
