.Account__flex {
  display: flex;
  margin: 8px 4px;
}

.Account__flex--center {
  align-items: center;
}

.Account__wrap {
  word-wrap: break-word;
  width: 100%;
  padding-right: 90px;
  line-height: 1.2;
}

.Account__list {
  padding-left: 20px;
  list-style-type: none;
}

.Account__list li {
  margin-bottom: 10px;
  text-indent: -8px;
}

.Account__list li:before {
  content: "-";
  text-indent: -8px;
}

.Account__input {
  width: 100%;
  padding: 6px 10px;
}

.Account__input:focus {
  border: 1px solid black;
  outline: black;
}

.Account__button {
  background-color: black;
  color: #EFEFEF;
  border: 1px solid black;
  margin-top: 6px;
  padding: 8px 16px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}