.ExpandableTab {
  position: absolute;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.2s;

  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.3);
  border: 0.2rem solid rgba(0, 0, 0, 0.4);

  pointer-events: fill;
}

.ExpandableTab--expanded {
  width: calc(100vw - 1rem); /* 0.5rem margin on each side */
  transition: width 0.3s;
}

.ExpandableTab__title {
  margin: 0 0 2rem 0;
}

.ExpandableTab__content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ExpandableTab__divider {
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.ExpandableTab__expand {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;

  width: 3.5rem;
  height: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
}

.ExpandableTab__expand p {
  font-size: 2rem;
  transform: translateY(-0.3rem);
}

.ExpandedTab__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.ExpandableTab__hamburger {
  padding: 0;
  margin: 0;
  width: 2.8rem;
  height: 2.8rem;
}
