.notification-panel {
  position: relative;
  right: -100%;
  top: 20px;
  width: 300px;
  padding: 1rem 0.5rem 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid rgba(0, 0, 0, 0.4);

  transition: right 0.5s ease-in-out;
  z-index: 1000;
}

.notification-panel.slide-in {
  right: 20px;
}

.notification-panel.slide-out {
  right: -100%;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000e6;
}

.notification-content button {
  background: white;
  border: none;
  color: #000000e6;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
}

.NotificationPanel__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

.NotificationPanel__close:hover {
  background-color: #e0e0e0;
}
