.TabsFooter {
  width: min(100vw, 100rem);
  height: max(3.4rem, 10%);
  margin: min(0.4rem, 2%) 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* TODO: css -> scss? */
.TabsFooter__logo {
  width: min(8rem, 10vw);

  pointer-events: fill;
  image-rendering: pixelated;
  margin: 0 0.5rem;
}

.TabsFooter__logo:hover {
  /* TODO: not working */
  cursor: pointer;
}

.TabsFooter__tab {
  font-size: min(1.6rem, 2vw);
  text-shadow: 0 0 1rem #FFFFFF;
  pointer-events: all;
}

.TabsFooter__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.TabsFooter__tab:hover {
  cursor: pointer;
  font-weight: bold;
}

.TabsFooter__tab:active {
  font-weight: bold;
  transform: scale(0.9);
}

.TabsFooter__tab--active {
  font-weight: bold;
  color: #9DAEB6;
  text-decoration: underline;
  text-shadow: 0 0 0.2rem #000000;
}

/* TODO: Canvas shadow looks different */
