.Voting__header {
  padding: 0 0.5rem;
  font-size: 1.4rem;
  text-decoration: underline;
}

.Voting__description {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.Voting__colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Voting__colors__item {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "vote color votes";
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Voting__colors__item__vote {
  position: relative;
  grid-area: vote;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.Voting__colors__item__vote:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.1) translateY(-0.2rem);
}

.Voting__colors__item__vote:active {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1) translateY(0rem);
}

.Voting__colors__item__vote__selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.Voting__colors__item__color {
  grid-area: color;
  border-radius: 0.5rem;

  height: 4rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.Voting__colors__item__votes {
  grid-area: votes;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1rem;
}
