.Factions__main {
  position: relative;
  max-height: 55vh;
  overflow-y: scroll;

  transition: all 0.5s;
  flex: 1;
}

*::-webkit-scrollbar {
  display: none;
}

.Factions__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
}

.Factions__heading {
  padding: 0 1rem;
}

.Factions__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
  margin-bottom: 0;
}

.Factions__header__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Factions__header__button {
  margin-left: 1rem;
}

.Factions__header__button--selected {
  background-color: rgba(30, 30, 70, 0.15);
  transform: scale(1.02);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(30, 30, 70, 0.3);
  }
  70% {
    box-shadow: 0 0 0 0.7rem rgba(30, 30, 70, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(30, 30, 70, 0);
  }
}

.Factions__heading {
  text-decoration: underline;
}

.Factions__container {
  padding: 0.5rem;
  overflow: hidden;
}

.Factions__container__factions {
  padding: 0.5rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-grow: 1;
  min-width: 8rem;
}

.Factions__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 55vh;
  /* TODO: border-left: 4px solid rgba(0, 0, 0, 0.3); */
  flex: 2;
}

.Factions__all__container {
  max-height: 47vh;
  width: 100%;
  padding: 0.5rem 2rem;
  overflow: scroll;
}

.Factions__all__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-items: flex-start;
}

.Factions__joiner {
  padding: 1rem 0.5rem;
  width: calc(100% - 1rem); /* 1rem is the margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 50vh;
  overflow: scroll;
}

.Factions__joiner__heading {
  margin: 0 0.5rem 1rem 0.5rem;
  text-align: center;
  flex: 1;
}

.Factions__joiner__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.Factions__joiner__container {
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  overflow: scroll;
}

.Factions__joiner__option__container {
  margin: 0.5rem;
  border-radius: 1rem;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background: url('../../resources/assets/pixel-gradient-diagonal.png');
  /* stretch the background */
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
  /* pixelate the background */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  outline: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  flex-grow: 1;
  transition: all 0.3s;
  overflow: hidden;
  height: 8rem;
}

.Factions__joiner__option__inner {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.Factions__joiner__option__container:hover {
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);
  transform: scale(1.02) translateY(-0.2rem);
}

.Factions__joiner__option__container:active {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
  transform: scale(1) translateY(0);
}

.Factions__joiner__option__icon {
  width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
  /* Stretch the icon to fill the container */
  object-fit: cover;
  white-space: nowrap;
  image-rendering: pixelated;
}

.Factions__joiner__option__text {
  margin: 0;
  padding-right: 0.5rem;
}

.Factions__msg__button {
  width: 90%;
  text-align: center;
  align-self: center;
}

.Factions__msg__button:hover {
  transform: scale(1.01);
}
